<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AirBnB clone</title>
        <link rel="shortcut icon" type="image/x-icon" href="images/icon.png">
        <link rel="stylesheet" type="text/css" href="/static/styles/4-common.css">
        <link rel="stylesheet" type="text/css" href="/static/styles/3-header.css">
        <link rel="stylesheet" type="text/css" href="/static/styles/3-footer.css">
        <link rel="stylesheet" type="text/css" href="/static/styles/6-filters.css">
</head>

<body>
        <header>
                <div class="logo"></div>
        </header>
        <div class="container">
                <section class="filters">
                        <div class="locations">
                                <h3>States</h3>
                                <h4>&nbsp</h4>
                                <ul class="popover">
                                        {% for x in states|sort(attribute="name") %}
                                        <li>
                                                <h2>{{ x.name}}:</h2>
                                                <ul>
                                                        {% for y in x.cities|sort(attribute='name') %}
                                                        <li>{{ y.name }}</li>
                                                        {% endfor %}
                                                </ul>
                                        </li>
                                        {% endfor %}
                                        <li>
                                                <h2>California:</h2>
                                                <ul>
                                                        <li>San Francisco</li>
                                                        <li>Los Altos</li>
                                                </ul>
                                        </li>
                                </ul>
                        </div>
                        <div class="amenities">
                                <h3>Amenities</h3>
                                <h4>&nbsp</h4>
                                <ul class="popover">
                                        {% for v in ameny|sort(attribute='name') %}
                                        <li>{{ v.name }}</li>
                                        {% endfor %}
                                </ul>
                        </div>
                        <button class="butt">Search</button>
                </section>
        </div>
        <footer>
                <p>Holberton School</p>
        </footer>
</body>

</html>